@import "../../../../styles/variables";
@import "../../../../styles/media";

.container {
  padding: 64px 0;

  .divider {
    height: 6px;
    background-color: $primary-color;
    width: 488px;
    margin: -36px auto 24px;
  }

  h2 {
    text-align: center;
    font-size: 32px;
    line-height: 42px;
    font-weight: 800;
    margin-bottom: 24px;

    @include mobile {
      margin: 0;
      font-size: 26px;
      line-height: 34px;
      text-align: start;
    }
  }

  .about {
    margin-bottom: 36px;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
    text-align: center;
    color: $darker-gray;
    padding: 0 200px;

    @include mobile {
      padding: 0;
      margin-top: 14px;
      margin-bottom: 24px;
      text-align: start;
    }
  }

  .grid {
    display: flex;
    flex-wrap: wrap;
    gap: 24px; /* Расстояние между элементами */
    justify-content: space-between; /* Равномерное распределение элементов по ширине контейнера */
    // padding: 10px;

    .flex_item {
      flex: 1 1 calc(33.333% - 48px); /* Ширина каждого элемента с учетом gap */
      display: flex;
      justify-content: center;
      border-radius: 12px;
      padding: 20px;
      background-color: #fff;
      box-sizing: border-box;

      @include mobile {
        flex-basis: auto;
        padding: 14px;
      }

      .title {
        margin: 20px 0 16px;
        font-size: 20px;
        font-weight: 600;
        line-height: 20px;

        @include mobile {
          font-size: 16px;
          line-height: 16px;
          margin: 14px 0;
        }
      }

      .description {
        font-weight: 300;
        font-size: 16px;
        line-height: 35px;
        color: $darker-gray;

        @include mobile {
          font-size: 14px;
          line-height: 22px;
        }
      }
    }
  }

  .mobile_grid > div {
    @include mobile {
      width: 100%;
      box-sizing: border-box;
    }
  }
}
