@import "../../styles/variables";
@import "../../styles/media";

.dropdown {
  position: relative;

  .dropdownButton {
    background: none;
    border: none;
    color: #1d1d1d;
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    text-transform: none;
    cursor: pointer;
    display: flex;
    align-items: center;

    @include mobile {
      font-size: 14px;
      line-height: 14px;
      justify-content: space-between;
    }

    &:hover {
      text-decoration: underline;

      @include mobile {
        text-decoration: none;
      }
    }

    .arrow {
      margin-left: 5px;
    }

    svg {
      margin-left: 4px;
    }
  }

  .dropdownMenu {
    list-style: none;
    flex-direction: column;
    margin: 0;
    padding: 0;
    min-width: 180px;
    z-index: 1000;
    margin-top: 7px;
    margin-bottom: -14px;

    @include desktop {
      position: absolute;
      top: 60px;
      left: 0;
      background-color: $white;
      border: 1px solid $light-gray;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .dropdownItem {
      padding: 16px;
      cursor: pointer;
      font-size: 16px;
      font-weight: 400;
      line-height: 16px;
      color: $dark-gray;
      width: 100%;
      box-sizing: border-box;
      text-transform: none;

      @include mobile {
        border-bottom: 0 !important;
        color: #1d1d1d;
      }

      &:hover {
        @include desktop {
          background-color: $primary-color;
          color: $white;
        }
      }
    }
  }
}

.transform {
  transform: rotate(180deg);
}
