// Primary Colors
$primary-color: #A6DB4B;
$secondary-color: #78BB04;

// Light Colors
$white: #FFFFFF;
$light-gray: #FBFBFB;
$off-white: #F9FEF0;

// Gray Colors
$gray: #D9D9D9;
$dark-gray: #5B5B5B;
$darker-gray: #3F3F3F;
$darkest-gray: #1B1B1B;
