@import "../styles/variables";
@import "../styles/media";

.header {
  width: 100%;
  background-color: $white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  .topSection {
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
    // padding-bottom: 12px;
    background-color: $white;

    .contactInfo {
      display: flex;
      gap: 6px;
      align-items: center;

      @include mobile {
        justify-content: space-between;
        width: 100%;
      }

      a {
        margin-right: 26px;

        @include mobile {
          margin-right: 0;
          margin-left: 6px;
          color: #5b5b5b;
        }
      }
    }

    .language {
      display: flex;
      align-items: center;
      gap: 8px;

      img {
        cursor: pointer;
      }

      span {
        font-size: 16px;
      }
    }
  }

  .bg {
    background-color: $primary-color;
  }

  .bottomSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 20px;
    font-size: 18px;
    line-height: 23px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: left;

    .logo {
      display: flex;
      align-items: center;
      gap: 5px;
      font-size: 13px;
      font-weight: 700;
      line-height: 16px;

      img {
        width: 40px;
        height: 40px;
      }
    }

    .nav {
      flex: 1;
      display: flex;
      justify-content: center;

      .navList {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
        gap: 20px;
        align-items: center;

        li {
          position: relative;
          cursor: pointer;
          font-size: 16px;

          a {
            font-size: 16px;
            text-decoration: none;
            line-height: 16px;
            font-weight: 400;
            color: #1d1d1d;
            text-transform: none;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }

    .appointmentButton {
      padding: 16px 40px;
      background-color: $primary-color;
      font-size: 16px;
      border: none;
      border-radius: 100px;
      cursor: pointer;
      border: 1px #1d1d1d solid;
      font-weight: 700;

      &:hover {
        background-color: $secondary-color;
      }
    }
  }
}

.logo {
  @include mobile {
    display: flex;
    align-items: center;
    gap: 3px;
    font-size: 9px;
    font-weight: 700;
    line-height: 11.7px;
    text-transform: uppercase;
  }

  > div {
    @include mobile {
      width: 30px;
      height: 30px;
    }

    div {
      @include mobile {
        width: 16px !important;
        height: 16px !important;
      }
    }
  }
}

.mobile_right_section {
  display: flex;
  gap: 6px;

  .hamburger {
    width: 32px;
    height: 32px;
    border-radius: 6px;
    background-color: $primary-color;
    gap: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .line {
      background-color: #fff;
      width: 20px;
      height: 2px;
    }
  }
}

.mobile_overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(27, 27, 27, 0.5);
  top: 0;
  left: 0;
  z-index: 10;

  .mobile_menu {
    height: 100%;
    width: 75%;
    background-color: #fff;
    display: flex;
    flex-direction: column;

    .mobile_header {
      background-color: $primary-color;
      width: 100%;
      padding: 11px 0 11px 14px;
      box-sizing: border-box;
      position: relative;

      .logo {
        gap: 5px;
        font-size: 13px;
        line-height: 16.5px;
        > div {
          width: 42px;
          height: 42px;

          > div {
            width: 22px !important;
            height: 22px !important;
          }
        }
      }

      .close_button {
        width: 32px;
        height: 32px;
        border-radius: 32px;
        position: absolute;
        background-color: #fff;
        right: -16px;
        top: calc(50% - 16px);

        .cross {
          width: 22px; // Размер крестика (можно настроить)
          height: 3px; // Толщина крестика
          background-color: $primary-color; // Цвет крестика
          position: absolute;
          transform: rotate(45deg); // Поворачиваем крестик на 45 градусов
          left: calc(50% - 11px); // Размещаем крестик по центру
          top: calc(50% - 1.5px);
        }

        // Вторая линия крестика (псевдоэлемент)
        .cross::after {
          content: "";
          width: 22px; // Размер крестика (можно настроить)
          height: 3px; // Толщина крестика
          background-color: $primary-color; // Цвет крестика
          position: absolute;
          transform: rotate(-90deg); // Поворачиваем крестик на -45 градусов
          left: calc(50% - 11px); // Размещаем крестик по центру
          top: calc(50% - 1.5px);
        }
      }
    }

    .nav {
      @include mobile {
        flex: 1;
        display: flex;
      }

      .navList {
        @include mobile {
          display: flex;
          flex-direction: column;
          list-style: none;
          padding: 0;
          margin: 0;
          width: 100%;
        }
        // align-items: center;

        li {
          @include mobile {
            position: relative;
            cursor: pointer;
            font-size: 14px;
            padding: 14px;
            border-bottom: 1px solid $gray;
            width: 100%;
            box-sizing: border-box;
          }

          a {
            @include mobile {
              font-size: 14px;
              text-decoration: none;
              line-height: 14px;
              font-weight: 400;
              color: #1d1d1d;
              text-transform: none;

              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }
}


.btn_container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 60px;
  gap: 42px;

  .language {
    display: flex;
    align-items: center;
    gap: 5px;
  }
}