@import "../../../../styles/variables";
@import "../../../../styles/media";

.container {
  padding: 94px 0;
  display: flex;

  @include mobile {
    flex-direction: column;
    padding: 64px 0;
  }

  .block {
    flex: 1;
    position: relative;
    flex-direction: column;

    h2 {
      margin-bottom: 24px;
      font-size: 32px;
      font-weight: 800;
      line-height: 42px;
      margin-top: 0;

      @include mobile {
        margin-bottom: 14px;
        font-size: 26px;
        line-height: 34px;
      }
    }

    p {
      font-size: 16px;
      line-height: 26px;
      font-weight: 300;
      margin-top: 0;
      margin-bottom: 14px;

      @include mobile {
        font-size: 14px;
        line-height: 22px;
      }
    }

    svg {
      position: absolute;
      right: -25px;
      top: 45px;
    }

    .buttons {
      display: flex;
      gap: 24px;
      margin-top: 32px;

      @include mobile {
        flex-direction: column;
      }
    }
  }

  .block > div > div {
    align-items: flex-start;
  }
}

.card_title {
  font-size: 24px;
  line-height: 24px;
  font-weight: 600;
  margin-bottom: 14px;

  @include mobile {
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 12px;
  }
}
