@import "../../styles/media";

.wrapper {
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  background-color: #f9fef0;
  padding: 60px 0 90px;

  @include mobile {
    padding: 64px 0;
  }
}
