@import "./styles/variables";
@import "./styles/media";

header {
  color: #1d1d1d;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  font-size: 16px;
  color: #1d1d1d;
  line-height: 16px;
  font-weight: 400;

  &[href^="mailto:"] {
    text-decoration: none;
  }
}

img {
  background-color: $light-gray;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 8px;
  width: 100%;
  box-sizing: border-box;

  @include mobile {
    padding: 0;
  }
}

.hr_pd {
  padding-left: 64px !important;
  padding-right: 64px !important;

  @include mobile {
    padding-left: 14px !important;
    padding-right: 14px !important;
  }
}

.col_flex {
  display: flex;
  flex-direction: column;
}

.row_flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.right_green_square {
  background-color: $primary-color;
  border-radius: 12px;
  position: absolute;
  bottom: 24px;
  right: -25px;
  width: 100px;
  height: calc(100% - 48px);

  @include mobile {
    display: none;
  }
}

.green_sq {
  background-color: $primary-color;
  border-radius: 12px;
  position: absolute;
  bottom: 12px;
  left: -6px;
  width: calc(100% + 12px);
  height: calc(100% - 24px);
}

h2 {
  font-size: 39px;
  font-weight: 800;

  @include mobile {
    font-size: 26px;
  }
}
