.serviceList {
    display: flex;
    flex-direction: column;
    gap: 24px;
    flex: 1;
  }
  
  .serviceItem {
    flex: 1 1 calc(50% - 48px);
    border-radius: 12px;
    padding: 20px;
    background-color: #fff;
  
    &:hover {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
  }
  
  .serviceHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }
  
  .serviceIcon {
    font-size: 24px;
  }

  .info {
    display: flex;
    flex-direction: column;
  }
  
  .serviceTitle {
    flex-grow: 1;
    font-size: 24px;
    line-height: 24px;
    font-weight: 600;
  }
  
  .serviceLink {
    // color: #007bff;
    text-decoration: underline;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
  }
  
  .serviceDescription {
    margin-top: 8px;
    font-size: 16px;
    color: #555;
  }
  
.container {
    display: flex;
    gap: 24px;
    // justify;
}

.wrapper {
    margin-top: 64px;
    margin-bottom: 32px;
}